@charset "UTF-8";
/* CSS Document for laying out the Seahorse pages */

@media only screen and (min-width: 480px) {
	#mainNav {
		float: left;
	}
}

/* The logic is only. The type is screen. The feature: value is min-width: 650px. */
@media only screen and (min-width: 650px) {
	header {
		position: relative;
	}

	#letterhead {
		position: absolute;
		top: 60px;
		left: 255px;
	}
	
	#login {
		position: absolute;
		top: 10px;
		right: 10px;
	}
	
	#content {
		width: 60%;
		float: left;
	}
	
	#aside {
		float: left;
	}

}

/* The logic is only. The type is screen. The feature: value is min-width: 480px. */
@media only screen and (min-width: 800px) {

	section#content {
			width: 70%;
	}
}

@media only screen and (min-width: 900px) {
	
}
/* Print */
@media only print {

	#social, nav {
		display: none;
	}
	
	section#content {
			float: left;
			width: 90%;
	}
}
